@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Orbitron:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-background: #000000;
    --electric-blue: #1E90FF;
    --neon-green: #39FF14;
    --primary-text: #FFFFFF;
    --secondary-text: #D3D3D3;
    --primary-font: 'Roboto', sans-serif;
    --heading-font: 'Orbitron', sans-serif;
}


/* Products styles */
.products .card {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    margin: 20px auto;
}

.products .card > img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    background: #fff;
    border-bottom: 1px solid #eee;
}