.home-heading {
    font-family: "Orbitron", sans-serif;
}

.home-heading, h1 {
    font-size: 2rem;
}

.home-heading, h2 {
    font-size: 1.5rem;
}

.home-lead {
    font-style: italic;
}

.products-heading-h1 {
    font-size: 1.5rem;
}

.products-heading-h2 {
    font-size: 1.25rem;
}

.products-heading-h1,
.products-heading-h2 {
    padding: 0.5rem 2rem;
    font-family: "Orbitron", sans-serif;
}

.home-products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-products ul {
    display: grid;
    grid-template-columns: repeat(auto-fit,
            minmax(250px,
                1fr));
    gap: 2rem;
}

.home-products li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 10px rgba(30, 144, 255, 1);
    border-radius: 4px;
    padding: 1rem;
}


.home-products img {
    border-radius: 4px;
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
    object-fit: cover;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.home-products button {
    width: 100%;
    background-color: #3fe48c;
    color: #000000;
    border: none;
}

.home-products .btn:hover {
    background-color: #a1f0c6;
    border: none;
    color: #000000;
}