
.products-heading-h1 {
  font-size: 1.5rem;
}

.products-heading-h2 {
  font-size: 1.25rem;
}
.products-heading-h1, .products-heading-h2 {
  padding: 0.5rem 2rem;
  font-family: "Orbitron", sans-serif;
}